

div[id^="leaflet-control-accordion-layers"] > label {
	padding: 7px 7px;
	position: relative;
	z-index: 20;
	display: block;
	height: 20px;
	cursor: pointer;
	color: #404040;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
/*	line-height: 33px;*/
	font-size: 14px;
	font-weight: 525;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		1px 0px 0px 0px rgba(255,255,255,0.9) inset,
		0px 2px 2px rgba(0,0,0,0.1);
    box-sizing: content-box;
    cursor:pointer;
    /*width: 200px;*/
    width: auto;
    margin: 0;
}

div[id^="leaflet-control-accordion-layers"] > label:hover {
	background: #fff;
}



.ac-container input.menu:checked + label,
.ac-container input.menu:checked + label:hover{
	background: #D5D5D5;
	color: #003300;
/*	font-size: 15px;*/
	font-weight: 525;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1);
}


.ac-container div[id^="leaflet-control-accordion-layers"] > label:hover:after,
.ac-container input.menu:checked + div[id^="leaflet-control-accordion-layers"] > label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;

}



input.menu{
	display: none;
}



/*NOTE: This was the time consuming css that makes font awesome look dynamic --- had to rewrite the js as well!!!!*/
.menu-item-radio input[type="radio"] + label::before {
  margin-right: 5px;
/*  background-color: transparent;*/
  content: "\f111";
  font-family: FontAwesome;
  font-size: 15px;
  position: none;
  -webkit-text-stroke: 1px #606060;
-webkit-text-fill-color: #FFFFFF;
}


.menu-item-radio input[type="radio"]:checked + label::before {
  margin-right: 5px;
  color:#000;
  content: "\f111";
  font-family: 'FontAwesome';
  font-size: 15px;
  position: none;
  -webkit-text-stroke: 1px #003300;
  -webkit-text-fill-color: #003300;
}


.menu-item-checkbox input[type="checkbox"] + label::before {
  margin-right: 5px;
  color:#000;
  content: "\f0c8";
  font-family: FontAwesome;
  font-size: 15px;
  position: none;
  font-weight:900;
    -webkit-text-stroke: 1px #606060;
-webkit-text-fill-color: #FFFFFF;
}


.menu-item-checkbox input[type="checkbox"]:checked + label::before {
  margin-right: 5px;
  color:#000;
  content: "\f14a";
  font-family: FontAwesome;
  font-size: 15px;
  position: none;
      -webkit-text-stroke: 1px #003300;
-webkit-text-fill-color: #003300;
}


/*------------------------------------ END style and hover css END ----------------------------------------------*/






/*------------------------------------ functional css stuff ----------------------------------------------*/


.ac-container article {
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	height: 0px;
    padding: 0px;
    line-height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}



.div_overlay-large {background-color: orange;}



.menu-item-checkbox input.menu:checked ~ .ac_small{
	height: auto;
/*	max-height : 50px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	overflow-y: auto;
	/*overflow-y: scroll;*/
    line-height: 18px;
}

.ac-container input.menu:checked ~ article.ac-large{
	height: auto;
/*	max-height : 165px;*/
	padding: 8px 0;
	overflow-y: auto;
    line-height: 18px;
}


.ac-container input.menu:checked ~ article.ac-marge{
	height: auto;
/*	max-height : 165px;*/
	padding: 8px 0;
	overflow-y: auto;
    line-height: 18px;
}




.leaflet-control-layers label {
    display: inline; 
}

/*overwrite parent's css   ---mine*/
.menu-item-checkbox label{
    background-color: transparent !important;
    box-shadow: none !important;
}

/*overwrite parent's css   ----mine*/
.menu-item-radio label {
    background-color: transparent !important;
    box-shadow: none !important;
}







